main {
    position: relative;
    gap: 0;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid black; */
}

.main-video {
    width: 100%;
    display: block;
    opacity: 30%;
    margin: 0;
    padding: 0;
    overflow: auto;
    object-fit: contain;
    
}

.main-content-container {
    position: absolute;
    width: 100%;
    align-self: center;
    top: 50%;
    padding-inline: 14rem 14rem;
    transform: translate(0%, -50%);
    text-align: center;
}

.main-content-container > h1 {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .main-content-container {
        padding-inline: 3rem 3rem;
    }
    
    .main-content-container > h1 {
        font-size: 3rem;
    }
}



@media screen and (max-width: 480px) {
    .main-content-container > h1 {
        font-size: 2.5rem;
    }
}

.main-start-button {
    display: inline-block;
    font-size: 1.5rem;
    background-color: #091C61;
    color: var(--primaryColor);
    padding: 1rem 2rem;
    border: solid #091C61;
    border-radius: 15px;
    text-align: center;
}

.dialog-backgound {
    background-color: var(--primaryColor);
}